[theme='dark'] {
  // Common
  --bg-color:                                    #2f3337;
  --components-bg-color:                         #3f4346;
  --border-color:                                #828587;
  --border-dark-color:                           #bbbbbb;
  --text-color:                                  #ffffff;
  --text-lighter-color:                          #bbbbbb;
  --highlight-color:                             #e9f3fc;
}
